  <% if (prescription.Escalation && (prescription.Escalation.issues.length || prescription.Escalation.details)) { %>
  <div class="flex flex-col my-4">
    <div class="text-xl font-medium mb-1 dark-light">Escalation</div>

    <div class="flex flex-col">
      <!-- distress level -->
      <% if (prescription.Escalation.issues.length) { %>
      <div class="flex flex-col text-base font-normal dark-light leading-5">
        <% prescription.Escalation.issues.forEach(function(issue) { %>
        <div class="flex items-start gap-x-2.5">
          <img src="<%= imageThree %>" class="mt-2" />
          <div class="flex-1 flex items-center gap-2">
            <div class="text-neutral-800 font-semibold text-base">
              <%= issue %>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <% } %>

      <!-- details -->
      <% if (prescription.Escalation.details) { %>
      <div class="flex flex-col text-sm font-normal dark-light leading-5">
        <div class="flex items-start gap-x-2.5">
          <img src="<%= imageThree %>" class="mt-2" />
          <div class="flex-1 flex gap-2">
            <div class="text-neutral-800 font-semibold text-base">Details:</div>

            <div class="text-base text-gray-600 font-normal">
              <%= prescription.Escalation.details %>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <% } %>