<div class="pt-5 border-t border-slate-200">
  <div class="grid grid-cols-12 items-center">

    <div class="col-span-2"></div>

    <div class="col-span-8 text-center text-[#135556] font-normal text-xs mx-3">

      <% if (isBracEmployee) { %>
      <div class="text-center">
        <span class="font-medium">Note: </span>
        <span class="italic">
          This is a computer-generated prescription by the doctor.
          No signature is required. For emergencies, contact us or visit
          the nearest hospital. BRAC may access this Rx for service and
          insurance purposes.
        </span>
      </div>
      <% } else if (pConfig.signature?.type === SignatureType.NOTE) { %>
      <div class="text-center">
        <span class="font-medium">Note: </span>
        <span class="italic">
          This prescription is generated electronically. No signature is required.
          Neeramoy acts solely as a platform provider and assumes no responsibility
          for the treatment and consultation provided by the healthcare provider.
        </span>
      </div>
      <% } else { %>
      <div class="flex justify-end w-full">
        <% if (pConfig.signature?.type === SignatureType.URL && pConfig.signature?.url) { %>
        <img class="w-[12rem] mt-2" src="<%= pConfig.signature?.url %>" alt="Signature" />
        <% } else if (pConfig.signature?.type === SignatureType.TEXT && pConfig.signature?.text?.trim() !== '') { %>
        <div class="text-2xl font-normal leading-5 brand-darkest mt-2 signature">
          <%= pConfig.signature?.text %>
        </div>
        <% } %>
      </div>
      <% } %>

    </div>

    <div class="col-span-2 flex justify-end items-center gap-2.5 my-3">
      <div class="flex items-center gap-1">
        <img class="w-8" src="<%= imageTwo %>" alt="Neeramoy" />
        <div class="flex flex-col mt-1">
          <div class="text-[#303030] text-[12px] font-semibold leading-4">neeramoy</div>
          <div class="text-[#767676] text-[6px] font-normal leading-3">www.neeramoy.com</div>
        </div>
      </div>
      <img class="w-6" src="<%= image %>" alt="QR" />
    </div>

  </div>
</div>